

#banner {
  background-image: url("https://lxyasd123.github/desktop-tutorial/exercise 02/image/5");

  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 0 auto;